<div class="footer">
  <div class="footer-element">
    <%= link_to pages_home_path, class: "footer-link" do %>
      <i class="fas fa-home"></i>
    <% end %>
  </div>
  <div class="footer-element">
    <%= link_to "#", class: "footer-link" do %>
      <i class="fas fa-calendar-alt"></i>
    <% end %>
  </div>
  <div class="footer-element">
    <%= link_to "#", class: "footer-link" do %>
      <i class="fas fa-bookmark"></i>
    <% end %>
  </div>
  <div class="footer-element">
    <%= link_to "#", class: "footer-link" do %>
      <i class="fas fa-user"></i>
    <% end %>
  </div>
</div>
