<div class="navbar">
  <%= link_to categories_path, class: "navbar-brand" do %>
    <i class="fas fa-chevron-left"></i>
  <% end %>
  <div><h3><%= Category.find(params[:format]).name %></h3></div>
  <div></div>
</div>

<div class="index-container">
  <h5 id="location"></h5>

  <% if params[:format] != "1" %>
    <% @events = @events.where(category_id: params[:format]) %>
  <% end %>
  <% @events.each do |event| %>
    <%= render partial: 'events/event_card', locals: { event: event } %>
  <% end %>
</div>
