
<div class="index-container">
  <h1><%= Category.find(params[:format]).name %></h1>
  <h5 id="location"></h5>

  <% if params[:format] != "1" %>
    <% @events = @events.where(category_id: params[:format]) %>
  <% end %>
  <% @events.each do |event| %>
    <%= render partial: 'events/event_card', locals: { event: event } %>
  <% end %>
</div>
