<div class="container">
  <% if @events.where(date: Date.today) != [] %>
    <h4>Heute</h4>
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <% @events.where(date: Date.today).order(:date).each do |event| %>
          <div class="swiper-slide">
            <%= render partial: 'events/event_card', locals: { event: event } %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>

  <% if @events.where(date: (Date.today + 1))  != [] %>
    <h4>Morgen</h4>
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <% @events.where(date: (Date.today + 1)).order(:date).each do |event| %>
          <div class="swiper-slide">
            <%= render partial: 'events/event_card', locals: { event: event } %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>


  <% if @events.where(date: (Date.today + 2)..(Date.today + 8)) != [] %>
    <% start_date = Date.today + 1 %>
    <% div_open = false %>

    <% @events.where(date: (Date.today + 2)..(Date.today + 8)).order(:date).each do |event| %>
      <% if event.date != start_date %>
        <% start_date += 1 until start_date == event.date %>
        <% if div_open %>
          </div>
          </div>
        <% end %>
        <h4><%= l(start_date, format: '%A, %d.%m.%Y') %></h4>
        <div class="swiper-container">
        <div class="swiper-wrapper">
        <% div_open = true %>
      <% end %>
        <div class="swiper-slide">
          <%= render partial: 'events/event_card', locals: { event: event } %>
        </div>
      <% if @events.where("date > ?",(Date.today + 1)).order(:date).last == event %>
        </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>

