<div class="container">
  <% start_date = Date.today - 1 %>
  <% @events.where(date: (Date.today..(Date.today + 7))).order(:date).each do |event| %>
    <% if (event.date > start_date) && (event.date == Date.today) %>
      <h4>Heute</h4>
      <% start_date += 1 %>
    <% elsif event.date > start_date && event.date == (Date.today + 1) %>
      <h4>Morgen</h4>
      <% start_date += 1 %>
    <% elsif event.date != start_date %>
      <% start_date += 1 until start_date == event.date %>
      <h4><%= l(start_date, format: '%A, %d.%m.%Y') %></h4>
    <% end %>
    <%= render partial: 'events/event_card', locals: { event: event } %>
  <% end %>
</div>

    <%# elsif event.date > (start_date + 7) && event.date > (Date.today + 1) %>
      <%# until (start_date..(start_date + 7)).include? event.date %>
        <%# start_date += 8 %>
      <%# end %>
      <!-- <div>
        <h4><%= start_date.strftime('%d.%m.%Y') %> - <%= (start_date + 7).strftime('%d.%m.%Y') %></h4>
      </div> -->
    <%# end %>


