.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: grid;
  grid-auto-flow: column;
  grid-template-column: repeat(5, 1fr);
  background: white;
  flex-grow: 0;
  .active {
    background-color: #4FC1C1;
    .fas {
      color: white;
    }
  }
  .fas {
  font-size: 2em;
  color: #4FC1C1;
  }
}

.footer-element {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  background-color: #262D37;
}

.footer-text {
  padding-top: 2px;
  color: white;
  font-size: 0.65em;
}

.footer-link {
  margin: 10px auto;
}
