.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: grid;
  grid-auto-flow: column;
  grid-template-column: repeat(4, 1fr);
  background: white;
  flex-grow: 0;
  .active {
    background-color: lightgrey;
  }
}

.footer-element {
  display: flex;
  align-items: center;
  text-align: center;
  background-color: grey;
}

.footer-link {
  margin: 10px auto;
}

.fas {
  font-size: 2em;
  color: white;
}
