.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 40px;
  //justify-content: space-between;
  display: grid;
  grid-template-column: 1fr 1fr 1fr;
  grid-auto-flow: column;
  background: #262D37;
  color: white;
}

.back {
  display: flex;
  align-items: center;
  color: #4FC1C1;
}

.navbar .navbar-collapse {
  flex-grow: 0;
}

.navbar .navbar-brand img {
  width: 40px;
}
