// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.index-container {
  padding: 40px 20px 80px 20px;
  margin: 0;
  background-color: #dde1e7; //#222831;
}

.show-container {
  margin: 5px 5px 100px 5px;
}

.event {
  margin: 40px 0 0 0;
  width: 100%;
  height: 200px;
  object-fit: cover;
  img {
    width: 100%;
  }
}
